.Heading {
    color: red;
    background-color: rgb(102, 189, 30);
}

ul {
    color: greenyellow;
}

img {
    /* max-width: 30rem;
    max-height: 30rem; */
    width: 20rem;
    height: 20rem;
    margin: 1rem;
    object-fit: cover;
    flex: content;
    display: grid;

}